<footer>
    <div class="container-fluid">
    <div class="footer__wrap">
        <div class="footer__left">
            <span class="footer__tag">we do more things</span>
            <h2>Other awesome products 
                from Phases</h2>
        </div>
        <div class="footer__right">
            <a href="#" class="btn btn-primary">Contact us</a>
        </div>
    </div>
    <div class="footer__btm">
        <p>© 2023 All rights reserved.</p>
    </div>
</div>
</footer>
<script src="assets/js/main.js"></script>
</body>
</html>