<header>
    <div class="container-fluid">
        <div class="main__header">
            <div class="logo__wrap">
                <h3 class="header__text">Backup</h2>
                <div class="header__logo">
                    <img src="assets/images/Phases.png" alt="logo" /> 
                </div>
            </div>
            <div class="navbar">
                <ul class="navbar-nav">
                    <li class="nav-item"><a href="#">Contact us</a></li>
                </ul>
            </div>
        </div>
    </div>
    
</header>