.btn{
    color: #009A62;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    padding: 14px 30px;
    border:0;
    outline: 0;
}
.btn-outline{
    background: transparent;
    transition: all 0.2s linear;
    border: 1px solid #009A62;
    color: #009A62;
    &:hover{
        background: #009A62;
        color:#fff;
    }
}
.btn-primary{
    background: #009a62;
    color: #fff;
    padding: 16.5px 70px;
    text-transform: uppercase;
    transition: all 0.2s linear;
    &:hover{
       opacity: 0.7;
    }
}