<section class="hero">
    <div class="container-fluid">
        <div class="hero__wrap">
            <div class="hero__text">
                <span class="hero-tag">Safeguard Your Business</span>
                <h1 class="hero-title">Effortless 
                    <br/>SaaS Data Protection</h1>
                    <p class="hero-content">With Backup, your SaaS data is in safe hands. Learn how our backup software  can empower your business with unparalleled data security.</p>
            </div>
            <div class="hero__img">
                <img src="assets/images/artwork.svg" alt="artwork" /> 
            </div>
        </div>
    </div>
</section>