<section class="card__block">
    <div class="container">
        <div class="card-wrap">
            <div class="card selected">

                <div class="card-top"><div class="card-logo">
                    <img src="assets/images/logo1.png" alt="logo"  /> 
                </div>
                <div class="card-text">
                    <h4>Backup for Podio</h4>
                    <p>Lorem ipsum dolor sit amet, 
                        consectetur adipiscing elit. </p>
                </div></div>
                <div class="card-bottom">
                    <a href="#">select</a>
                </div>
            </div>

            <div class="card">
                <div class="card-top"><div class="card-logo">
                    <img src="assets/images/logo.png" alt="logo"  /> 
                </div>
                <div class="card-text">
                    <h4>Backup for Podio</h4>
                    <p>Lorem ipsum dolor sit amet, 
                        consectetur adipiscing elit. </p>
                </div></div>
                <div class="card-bottom">
                    <a href="#">select</a>
                </div>
            </div>

            <div class="card">
                <div class="card-top"><div class="card-logo">
                    <img src="assets/images/logo2.png" alt="logo"  /> 
                </div>
                <div class="card-text">
                    <h4>Backup for Podio</h4>
                    <p>Lorem ipsum dolor sit amet, 
                        consectetur adipiscing elit. </p>
                </div></div>
                <div class="card-bottom">
                    <a href="#">select</a>
                </div>
            </div>

            <div class="card">
                <div class="card-top"><div class="card-logo">
                    <img src="assets/images/logo3.png" alt="logo"  /> 
                </div>
                <div class="card-text">
                    <h4>Backup for Podio</h4>
                    <p>Lorem ipsum dolor sit amet, 
                        consectetur adipiscing elit. </p>
                </div></div>
                <div class="card-bottom">
                    <a href="#">select</a>
                </div>
            </div>

            <div class="card">
                <div class="card-top"><div class="card-logo">
                    <img src="assets/images/logo.png" alt="logo"  /> 
                </div>
                <div class="card-text">
                    <h4>Backup for Podio</h4>
                    <p>Lorem ipsum dolor sit amet, 
                        consectetur adipiscing elit. </p>
                </div></div>
                <div class="card-bottom">
                    <a href="#">select</a>
                </div>
            </div>

             <div class="card">
                <div class="card-top"><div class="card-logo">
                    <img src="assets/images/logo.png" alt="logo"  /> 
                </div>
                <div class="card-text">
                    <h4>Backup for Podio</h4>
                    <p>Lorem ipsum dolor sit amet, 
                        consectetur adipiscing elit. </p>
                </div></div>
                <div class="card-bottom">
                    <a href="#">select</a>
                </div>
            </div>
        </div>
        <div class="cta__wrap">
            <a href="#" class="btn btn-outline">Show more</a>
        </div>
    </div>
</section>