<section class="form__wrap">
    <div class="container">
    <div class="form-row">
        <div class="form-col">
            <label>First name <span>(required)</span></label>
            <input type="text" class="form-control" placeholder="Enter your first name...">
        </div>
        <div class="form-col">
            <label>Last name <span>(required)</span></label>
            <input type="text" class="form-control" placeholder="Enter your last name...">
        </div>
        <div class="form-col">
            <label>Email <span>(required)</span></label>
            <input type="email" class="form-control" placeholder="Enter your email address...">
        </div>
        <div class="form-col">
            <label>Company (optional)</label>
            <input type="text" class="form-control" placeholder="Enter your company name...">
        </div>
        
    </div>
    <div class="form-group">
        <label class="checkbox-wrap">
            <input type ="checkbox" class="form-checkbox">
            <span class="checkmark"></span>
        </label>
        
        <div class="checkbox-text">
            <label>Subscribe to the newsletter emails</label>
            <p>By clicking submit below, you agree to <a href="#">Privacy Policy</a>. You also agree to receive content, events, and marketing emails from us. 
                You may unsubscribe at any time.</p>
        </div>
        <div class="cta__wrap">
            <button type="submit" class="btn btn-primary">Submit </button>
        </div>
    </div>
</div>
</section>