<section class="search">
    <div class="container">
        <div class="head">
            <h2>Which SaaS tools do you want  to have 
                a <span class="text-primary">backup</span> feature for?</h2>
            <p>Evaluate current solutions we've developed for the safe data backup.
                additionally, we are interested in learning about your opinion and your needs. </p>
        </div>
             <div class="search-wrap">
                <div class="seach__input-wrap">
                    <div class="search-input">
                        <img src="assets/images/icons/search-icon.svg" alt="logo"  class="search-icon"/> 
                        <input type="text" class="searchinput" placeholder="Search for SaaS tools...">
                    </div>
                    
                    
                </div>
                
                <button type="submit" class="searchButton"> Search</button>

            </div>
            <div class="search-clues" >
                <ul>
                        <li class="clue-items">
                            <div class="clue-icon">
                                <img src="assets/images/icons/google.png" alt="logo"  /> 
                            </div>
                            <div class="clue-text">
                                <p>Google suite</p>
                                <a href="#">select</a>
                            </div>
                        </li>
                        <li class="clue-items">
                            <div class="clue-icon">
                                <img src="assets/images/icons/google.png" alt="logo"  /> 
                            </div>
                            <div class="clue-text">
                                <p>Google suite</p>
                                <a href="#">select</a>
                            </div>
                        </li>
                        <li class="clue-items">
                            <div class="clue-icon">
                                <img src="assets/images/icons/google.png" alt="logo"  /> 
                            </div>
                            <div class="clue-text">
                                <p>Google suite</p>
                                <a href="#">select</a>
                            </div>
                        </li>
                    
                </ul>
            </div>
            
            <div class="search-result">
                <ul>
                    <li></li>
                </ul>
            </div>
    </div>
</section>