.main__header{
    display: flex;
    justify-content: space-between;
    padding: 24px 0px;
}
.logo__wrap{
    display: flex;
    align-items: center;
    h3{
        color: #009A62;
        margin-right: 25px;
    }
    .header__logo{
        padding-left: 25px;
        border-left: 1px solid #000;
        img{
            max-height: 27px;
        }
    }
}
.navbar{
    ul.navbar-nav{
        list-style-type: none;
        display: flex;
        
    }
    li.nav-item{
        a{
            color: #009A62;
            padding-left: 15px;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}